<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title n:snippet="title">{ifset title}{include title|stripHtml} | {/ifset}Carrier zakázky</title>
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/bootstrap/bootstrap/css/bootstrap.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a n:class="nav-link, $presenter->isLinkCurrent('Homepage:default') ? 'active'" n:href="Homepage:default">Nová zakázka<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a n:class="nav-link, $presenter->isLinkCurrent('TubeProduction:production') ? 'active'" n:href="TubeProduction:production">Vyrobeno</a>
				</li>
				<li class="nav-item">
					<a n:class="nav-link, $presenter->isLinkCurrent('CreateExcess:createExcess') ? 'active'" n:href="CreateExcess:createExcess">Materiál navíc</a>
				</li>
				<li class="nav-item">
					<a n:class="nav-link, $presenter->isLinkCurrent('Sign:up') ? 'active'" n:if="$user->isAllowed('register', 'view')" n:href="Sign:up">Registrovat</a>
				</li>
				<li class="nav-item">
					{if $user->loggedIn}
						<a class="nav-link" n:href="Sign:out">Odhlásit</a>
					{else}
						<a n:class="nav-link, $presenter->isLinkCurrent('Sign:in') ? 'active'" n:href="Sign:in">Přihlásit</a>
					{/if}
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mr-3">
					{if $user->loggedIn}
						<div class="navbar-text mr-4"> {$user->getIdentity()->getData()[name]}</div>
					{/if}
				</li>
				<li class="nav-item mr-5">
					{if $user->loggedIn}
						<div class="navbar-text"> {$user->getIdentity()->getData()[shift_id]} </div>
					{/if}
				</li>
			</ul>
			<form n:name="searchForm" class="form-inline my-lg-0">
				<select class="form-control mr-1" n:name="search_select">SELECT</select>
				<input class="form-control mr-sm-2" type="text" n:name="search_value" placeholder="Číslo zakázky" aria-label="Search">
				<input class="btn btn-outline-success my-2 my-sm-0" n:name="send" value="Vyhledat">
			</form>
		</div>
	</div>
</nav>

{snippet modal}
	{if $presenter->isAjax()}
		{ifset #modal}
			<div class="modal fade modal-ajax" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-keyboard="false">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">

							{block modalHeader}
							<h3 class="modal-title float-left">
								{block|striptags}{include #modalTitle}{/block}
							</h3>
							{/block}
						</div>
						<div class="modal-body">
							{include #modal}
						</div>
						{ifset #modalFooter}
							<div class="modal-footer">
								{include #modalFooter}
							</div>
						{/ifset}
					</div>
				</div>
			</div>
		{/ifset}
	{/if}
{/snippet}

	<div class="container">

		{include content}
	</div>
	{block scripts}
		<script src="{$basePath}/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="{$basePath}/js/Ajax/jquery.min.js"></script>
		<script src="{$basePath}/js/nette.ajax.js-master/nette.ajax.js"></script>
		<script src="{$basePath}/js/Main/main.js"></script>
		<script src="{$basePath}/js/HomeForm/form.js"></script>
		<script src="{$basePath}/js/Excess/updateExcess.js"></script>
		<script src="{$basePath}/js/Excess/showExcess.js"></script>
		<script src="{$basePath}/js/NetteForms/netteForms.min.js"></script>
	{/block}
</body>
</html>